<h1><%= @user.username %>'s Profile Page</h1>
<% if user_signed_in? %>
<h6>Logged in as: <%=current_user.username%></h6>
<% end %>
<div id="picture_deck">
  <div id="album_div">
    <% @user.pictures.reverse.each do |picture| %>
      <div id="image_div">
        <%= link_to image_tag(picture.image.url(:medium)), picture_comments_path(picture) %>
        <% if @user == current_user %>
          <%= button_to('Delete', picture_path(picture), {method: :delete}) %>
        <% end %>
        <%= button_to('Comment', new_picture_comment_path(picture), {method: :get}) %>
      </div>
    <% end %>
  </div>
  <% if @user == current_user %>
    <div id="upload_button">
      <%= button_to('Upload Picture', new_picture_path, {method: :get}) %>
    </div>
  <% end %>
</div>
