<!DOCTYPE html>
<html>
  <head>
    <title>MakersInstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='banner'>
      <div id='banner_button'>
          <%= button_to('Home', root_url, {method: :get, id: 'banner_btn'}) %>
          <%= button_to('Git Repo', 'https://github.com/T-Betts/Picture-Rails', {method: :get, id: 'banner_btn'}) %>
      </div>
      <div id='banner_text'>
        <h1 id='welcome_header'>Picture Rails</h1>
      </div>
      <div id='banner_button'>
        <%= render 'welcome/sign_up' %>
        <%= render 'welcome/log_in_and_out' %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
